html {
    height: 100%;
}
@media screen and (max-width: 450px) {
    main {
        padding: 20px 30px;
    }
}
@media screen and (max-width: 320px) {
    main {
        padding: 20px 0;
    }
}
body {
    margin: 0;
    height: 100%;
    min-width: 260px;
    background-color: rgb(40, 190, 225);
}

header {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content:space-between;
    padding: 30px 0 10px;
    top: 0;
    width: 100%;
    background-color: rgb(40, 190, 225);
}
span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(PS图/sprite1.png);
    background-repeat: no-repeat;
}
.icon-l {
    background-position: 0 -30px;
    margin-left: 20px;
}
.icon-r {
    background-position: -60px 0;
    margin-right: 20px; 
}
h6 {
    margin: 0;
    line-height: initial;
    font-size: 2.1rem;
    color: rgb(255, 255, 255);
}


.top {
    position: relative;
    top: 70px;
}
.box {
    height: 50px;
    background-color: rgb(185, 235, 245);
}
.box-r {
    float: right;
    margin: 7.5px 10px;
    width: 35px;
    height: 35px;
    background-color: rgb(251, 180, 55);
    border-radius: 50%;
}
.icon-audio {
    margin: 2.5px 0 2.5px 5px;
    background-position: -30px -30px;
}
audio {
    position: fixed;
    right: -50px;
    opacity: 0.0;
    width: 100px;
    height: 50px;
}
h5 {
    margin: 17px 0 17px 10%;
    display: inline-block;
    font-size: 1.5rem;
}
.top-triangle {
    margin-left: 15%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgb(185, 235, 245);
}
p {
    margin: 0 0 0 15%;
    color: rgb(255, 255, 255);
}


main {
    position: relative;
    text-align: center;
    top: 70px;
    display: inline-block;
}
.wrapper {
    display: inline-block;
    margin: 15px;
}
.block {
    width: 70px;
    background-color: rgb(245, 201, 123);
    border: 2px solid rgb(255, 255, 255);
}
.block-top {
    margin: 20px 0;
}
.block-bottom {
    background-color: rgb(130, 180, 155);
}
img {
    margin-top: 10px;
    width: 13px;
}
.hiding {
    visibility: hidden;
}
.wrapper:hover>.hiding {
    visibility: visible;
}
h2 {
    margin: 0;
    font-size: 2.1rem;
}
h3 {
    margin: 0;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.fill {
    width:100%;
    height:70px
}


footer {
    position: fixed;
    bottom: 0; 
    width: 100%;
    background-color: rgb(40, 190, 225);
}
.bottom {
    text-align: center;
    margin: 20px 40px;
    height: 50px;
    background-color: rgb(251, 180, 55);
}
h4 {
    margin: 0;
    padding: 13.5px 0;
    font-size: 2.1rem;
    color: rgb(255, 255, 255);
}